.skip {
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-family: 'Prata', serif;
}

h1 {font-family: 'Gloock', serif;
  color:darkslateblue;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}


h2 {font-family: 'Gloock', serif;
  color: darksalmon;
  background-color: beige;
  border-width: 100px;
  border-color: black;
  text-align: center;
  font-weight: 750;
  font-size: 20px;
}

h3 {font-family: 'Gloock', serif;
color: darkslateblue;
background-color: beige;
border-width: 100px;
  border-color: black;
  text-align: center;
}

p{
font-family: 'Gloock', serif;
  color:darkslateblue;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

ul{
  font-family: 'Prata', serif;
  color: white;
  text-align: center;
  text-color: white;
}

ul li{
  font-family: 'Prata', serif;
  text-align: center;
  text-color: white;
}

body{
 background-image: url('landscape.jpg');
 background-size: 100% 100%;
 padding-top: 50px;
  color:black;
  background-color: lightyellow;
  border-color: black;
  text-align: center;
  font-weight: 700;
  font-size: 15px;

}

.hero {
  background-color: #074f57;
  background-image: url("landscape.jpg");
  color: white;
}

.nav1 {
/*  background-color: white;*/
  float: center; 
  font-family: 'Gloock', serif;
  font-weight: 1000px;
  width: 100vw;
  width: 100%;
  margin: .5rem .3rem .1rem .1rem;
  padding: .10rem .10rem .10rem .10rem;
  align-items: center;
  text-align: center;
  position: relative;
  display: inline-block;
}

  .nav2 {
  flex-grow: 50;
  float: center;
  margin: 0.70rem;
  padding: 0.10rem;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 7px;
}

.nav2 a {
  text-decoration: none;
}

.nav2:hover {
  background-color: salmon;
}


.active{
  background-color: darkgray;
  color: white;
}

.gallery-image {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 4rem auto;
  width: 100%;
  max-width: 300px;
}

.gallery-image img {
  width: 100%;
  size: 600px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.hideThis {
  display: none;
}

button {
  background-color: palegoldenrod;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 1000px;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}


@media only screen and (min-width: 555px) {
    ul li {
      color: slategrey;
  }

@media only screen and (min-width: 800px) {
  body {
    color: lightyellow;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background-color: lightgrey;
  }
}

